black==26.5.1
click==8.4.1
colorama==0.4.6
iniconfig==2.3.0
isort==8.0.1
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
Pygments==2.20.0
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
pytokens==0.4.1
PyYAML==6.0.3
types-usd==24.5.2
typing_extensions==4.15.0
usd-core==26.5
